{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h1 class="header">Enter Code</h1>
            <form method="POST" class="sign-up">
                {% csrf_token %}
            <table class="table table-striped table-bordered">
                    {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
        <h1 class="header">Rush Captains</h1>

        <button class="btn btn-primary" href="{% url 'core:login' %}">Login</button>

        </div>

    </div>

</div>

{% endblock contents %}
{% block js %}
<script>
    $('.btn-primary').on("click", function() {
     location.replace($(this).attr('href'));
    })
</script>

{% endblock js %}
