{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}
{% block header  %} Main Floor {% endblock header %}

{% block contents %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="2">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rushee in rushees %}
                    <tr>
                        <td><a href="{% url 'website:rushee_detail' pk=rushee.pk %}">{{ rushee.name }}</a></td>
                        <td id='score'>{{ rushee.total_score }}</td>
                          <td>

                        <button class="fa fa-arrow-up vote" value='1' id='{{ rushee.pk }}'></button><button class="fa fa-arrow-down vote" value='-1' id='{{ rushee.pk }}'></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock contents %}

{% block js %}

<script>

$('.vote').on('click', function() {
  let pk = $(this).id
  let vote = $(this).value
  $.ajax({
    url: '{% url "website:vote" %}',
    type: 'POST',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      vote: vote,
      pk: pk
    },
    dataType: 'json',
    traditional: 'True',
    success: function(data) {
      if (data.success){
      document.getElementById('score').innerHTML = data['score'];
    }
    else {
      location.reload();
    }
    }
  });
});


</script>

{% endblock js %}
