{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}
{% block header  %} Main Floor {% endblock header %}
{% block custom_css %}
<style type="text/css">
    table {
        background-color: white;
    }
    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: bold;
    }
</style>
{% endblock custom_css %}
{% block contents %}

{% include 'website/nav_bar.html' %}

<div class="container-fluid">
    <br />
    <h1 class="header">Main Floor</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <table id="rushee-table" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Yes</th>
                        <th>No</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rushee in rushees|dictsortreversed:"total_score" %}
                    <tr>
                        <td><text class="detail" href="{% url 'website:rushee_detail' pk=rushee.pk %}">{{ rushee.name }}</text></td>
                        <td id='score-{{ rushee.pk }}'>{{ rushee.total_score }}</td>
                          <td>

                        <i class="fa fa-arrow-circle-up vote" style="width: 30px;height: 30px;font-size: 30px;color: rgb(5,255,0);" value='1' id='{{ rushee.pk }}'></i></td>
                        <td><i class="fa fa-arrow-circle-down vote" style="font-size: 30px;color: rgb(255,0,0);" value='-1' id='{{ rushee.pk }}'></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

</div>


<div class="modal fade" id="modalLoginForm" value="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          <h3> Would you like to add a comment?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="comments" name="comments">
          <input type="hidden" id="pk" name="pk">
          {% csrf_token %}
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label>Add a comment</label>
          <input type="text" id="comment" name="comment"></input>
        </div>

        <div class="md-form mb-4">
          <label>Passed to who?</label>
          <input type="text" id="new-brother" name="new-brother"></input>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default modal-submit">Submit</button>
      </div>
      </form>
      </div>
  </div>
</div>


{% endblock contents %}

{% block js %}

<script>
    $(document).ready(function() {
    $('#rushee-table').DataTable({
        "ordering": false,
        "info": false,
        "paging": false
    }
    );
} );

$('.detail').on("click", function(){
    location.replace($(this).attr('href'));
});


$('.vote').on('click', function() {
  let pk = $(this).attr('id')
  let vote = $(this).attr('value')
  setup_ajax();
  $.ajax({
    url: '{% url "website:vote" %}',
    type: 'POST',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      vote: vote,
      pk: pk
    },
    dataType: 'json',
    traditional: 'True',
    success: function(data) {
      if (data.success){
          let id = 'score-'  + pk
      document.getElementById(id).innerHTML = data['score'];
      $('input#pk').val(pk);
      $('#modalLoginForm').modal('toggle');
        }

    else {
    }
    }
  });
});

$('.modal-submit').on("click", function() {
    let comment = $('input#comment').val();
    let new_brother = $('input#new-brother').val();
    let pk = $('input#pk').val();
    console.log(pk);
    console.log(new_brother);
    console.log(comment);
    setup_ajax();
    $.ajax({
        url: "{% url 'website:post_vote' %}",
        type: "POST",
        data: {
            'comment': comment,
            'new_brother': new_brother,
            'pk': pk,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            location.reload();
        }
    });
});

</script>

{% endblock js %}
