<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Pi Lambda Phi Rush</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
  <a class="nav-link" href="{% url 'website:home_page' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'website:second_round' %}">Upstairs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'website:bid_status' %}">Bids</a>
</li>
</div>
</nav>
