{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}

{% block contents %}

<p class="lead">SHOW ME WHAT YOU'VE GOT.</p>
<img class="irc_mi" src="https://tr.rbxcdn.com/c0c906c74964c5eb05136618db191aef/420/420/Decal/Png" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" alt="Image result for show me what you've got" width="150" height="150" style="margin-top: 25px;" data-iml="1562799837519">

<p></p>
<a class="btn btn-primary" href="{% url 'core:logout' %}" role="button">Logout</a>

{% endblock contents %}
