{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Upstairs {% endblock title %}
{% block header  %} Upstairs {% endblock header %}
{% block custom_css %}
<style type="text/css">
    table {
        background-color: white;
    }
</style>
{% endblock custom_css %}
{% block contents %}
{% include 'website/nav_bar.html' %}
<div class="container">
    <br />
    <h1 class="header">Upstairs</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="tabl  table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Room Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rushee in rushees %}
                    <tr>
                        <td><a href="{% url 'website:rushee_detail' pk=rushee.pk %}">{{ rushee.name }}</a></td>
                        <td>{{ rushee.currently_talking_to|default:"No room" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock contents %}
