{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Upstairs {% endblock title %}
{% block header  %} Upstairs {% endblock header %}

{% block contents %}
{% include 'website/nav_bar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Room Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rushee in rushees %}
                    <tr>
                        <td><a href="{% url 'website:rushee_detail' pk=rushee.pk %}">{{ rushee.name }}</a></td>
                        <td>{{ rushee.currently_talking_to|default:"No room" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock contents %}
