{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}

{% block contents %}
<div class="container">
    <div class="row">
        <h1 class="header">Pi Lambda Phi Rush</h1>
        <div class="col-md-8 offset-md-3">
            <form method="POST" class="sign-up">
                {% csrf_token %}
            <table class="table table-striped table-bordered">
                    {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>

    </div>

</div>

{% endblock contents %}
